body {
    background-color: rgb(236, 233, 233);
    font-family: 'Roboto', sans-serif;
}

.container h1 {
    font-weight: 300;
    font-size: 15px;
}
.container ul {
    list-style-type: none;
    font-weight: 300;
    font-size: 7px;
}

.nav-menu a:link {
    text-decoration: none;
  }

  .nav-menu a:visited {
    color: whitesmoke;
    }

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    
}

.nav-menu li { 
    margin-right: 10px;
}

.container {
    width: auto;
    color : whitesmoke;
    border-radius: 3px;
    background-color: rgb(46, 44, 44);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.hidden {
    width: 181.964px;
    text-align: center;
}

.main-title {
    width: 181.964px;
    text-align: center;
}

.menu {
    width: 181.964px;
    text-align: center;
}