body {
    background-color: rgb(236, 233, 233);
}

.container h1 {
    font-weight: 300;
    font-size: 15px;
}
.container ul {
    list-style-type: none;
    font-weight: 300;
    font-size: 7px;
}

a:link {
    text-decoration: none;
  }

a:visited {
    color: whitesmoke;
    }

.nav-menu {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    justify-content: space-between;
}

.nav-menu li { 
    margin-right: 10px;
}

.container {
    width: auto;
    font-family: 'Roboto', sans-serif;
    color : whitesmoke;
    border-radius: 3px;
    background-color: rgb(46, 44, 44);
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}
    