{% extends 'login/base.html'%}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/signup.css' %}">{% endblock %}
{% block title %}<title>Formulaire d'inscription</title>{% endblock %}


{% block content %}
<section>
    <div class="subscribe">
        <h2>Inscrivez-vous</h2>
            <form method="POST">
                {% csrf_token %}
                <h3>Nom d'utilisateur</h3>
                <p>{{ form.username }}</p>
                <h3>Mot de passe</h3>
                <p>{{ form.password1 }}</p>
                <h3>Confirmez mot de passe</h3>
                <p>{{ form.password2 }}</p>
                <div class="flex-btn">
                    <button type="button">
                        <a href="{% url 'login' %}">Retour</a>
                    </button>
                    <input class="validation-btn" type="submit" value="S'inscrire">
                </div>
            </form>
    </div>
</section>
{% endblock %}