{% extends 'login/base.html'%}

{% block title %}<title>Page d'acceuil</title>{% endblock %}


{% block content %}
<section>
    <div id="inscription">
        <h2>Inscrivez-vous maintenant</h2>
        <button type="button">
            <a href="{% url 'signup' %}">S'inscrire</a>
        </button>
    </div>
    <div id="connexion">
        <h2>Connectez-vous</h2>
        <form method="POST" class="">
            {% csrf_token %}
            {{form}}
        <input type="submit" value="Se connecter">

        </form>
    </div>

</section>
{% endblock %}