{% extends 'base.html'%}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/ticket-edit.css' %}">{% endblock %}

{% block title %}<title>Modifier ticket</title>{% endblock %}


{% block content %}
<section>
    <h2>Modifier votre ticket</h2>
       <form class="ticket-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Titre</h3>
        <p>{{ form.title }}</p>
        <h3>Description</h3>
        <p>{{ form.description }}</p>
        <h3>Image</h3>
        <img src="/{{ form.image }}" alt="{{ form.image.url }}">
        <p>{{ form.image }}</p>
        <input class="input-btn" type="submit" value="Envoyer">
       </form>
       
</section>
{% endblock %}