{% extends 'base.html'%}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/review-edit.css' %}">{% endblock %}
{% block title %}<title>Modifier critique</title>{% endblock %}


{% block content %}
<section>
    <div>
        <h2>Modifier votre critique</h2>
        <form class="review" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Titre de la critique</h3>
            {{ form.headline }}
            <h3>Note</h3>
            {{ form.rating }}
            <h3>Commentaire</h3>
            {{ form.body }}
            <input type="submit" value="Envoyer" class="review-btn-1">

        </form>
    </div>
</section>
{% endblock %}