{% extends 'base.html'%}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/review-edit.css' %}">{% endblock %}
{% block title %}<title>Modifier critique</title>{% endblock %}


{% block content %}
<section>
    <div>
        <h2>Modifier votre critique</h2>
        <div class="ticket-block">
            <h3 class = "h3-ticket">Titre</h3>
                <p class="ticket-title">{{ ticket.title }}</p>
            <h3 class = "h3-ticket">Description</h3>
                <p class="ticket-description">{{ ticket.description }}</p>
            <h3 class = "h3-ticket">Image</h3>
                <img id="id_image" src="{{ ticket.image.url }}" alt="{{ ticket.title }}">
        </div>
        <form class="review" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Titre de la critique</h3>
            {{ form.headline }}
            <h3>Note</h3>
            {{ form.rating }}
            <h3>Commentaire</h3>
            {{ form.body }}
            <input type="submit" value="Envoyer" class="review-btn-1">

        </form>
    </div>
</section>
{% endblock %}