{% extends 'base.html'%}
{% load static %}
{% block title %}<title>Flux</title>{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/feed.css' %}">
<section>
    <button><a href="{% url 'ticket' %}">Demander une critique</a></button>
    <button><a href="{% url 'review' %}">Créer une critique</a></button>
    <form method="POST">
        {% csrf_token %}
        {% for post in reviews_and_tickets %}
            {% if post.content_type == 'TICKET' %}
              {% include 'snippets/ticket-snippets.html' %}      
            {% endif %}
            {% if post.content_type == 'REVIEW' %}
            {% include 'snippets/review-snippets.html' %}
            {% endif %}
        {% endfor %}
        
    </form>
</section>
{% endblock %}