{% extends 'base.html'%}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/feed.css' %}">{% endblock %}
{% block title %}<title>Flux</title>{% endblock %}


{% block content %}

<section>
    <div class="btn">
        <button class="ticket-btn"><a href="{% url 'ticket' %}">Demander une critique</a></button>
        <button class="review-btn"><a href="{% url 'review' %}">Créer une critique</a></button>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for post in reviews_and_tickets %}
            {% if post.content_type == 'TICKET' %}
              {% include 'snippets/ticket-snippets.html' %}      
            {% endif %}
            {% if post.content_type == 'REVIEW' %}
            {% include 'snippets/review-snippets.html' %}
            {% endif %}
        {% endfor %}
    </form>
</section>
{% endblock %}