{% extends 'base.html'%}

{% block title %}<title>Onglet d'abonnements</title>{% endblock %}


{% block content %}
<section>
    <div id="search-follower">
        <form method="POST" action="{% url 'follow-page' %}">
            {% csrf_token %}
            <input type="search" name="search" placeholder="Nom d'utilisateur">
            <button type="submit">Envoyer</button>
        </form>
    </div>

    <div id="following">
        <h2>Abonnements</h2>
        {% for follow in follows %}
            {{ follow.username }}
            <form method="POST" action="{% url 'follow-page-unfollow'%}">
                {% csrf_token %}
                <input hidden type="text" value="{{ follow.id }}" name="followed_id">
                <button type="submit" name="Unfollow">Se désabonner</button>
            </form>
        {% endfor %}
        {% include 'message.html' %}
    </div>

    <div id="followers">
        <h1>Abonnés</h1>
        <table>
            <ul>
                {% for follow in followed_by %}
                    {{ follow.username }}
                {% endfor %}
            </ul>
        </table>
    </div>

    
</section>
<script>
    setTimeout(function() {
        if ($('#msg').length>0) {
            $('#msg').remove();
        }
    }, 3000)
</script>

{% endblock %}