{% extends 'base.html'%}

{% block title %}<title>Onglet d'abonnements</title>{% endblock %}


{% block content %}
<section>
    <div id="search-follower">
        <form method="GET">
            <input type="search" name="search" placeholder="Nom d'utilisateur">
            <button type="submit">Envoyer</button>
        </form>
    </div>

    <div id="following">
        <h2>Abonnements</h2>
        {% csrf_token %}
        {{ follower.username }}
    </div>

    <div id="followers">
        <table>
            <ul>
                <li>User1</li>
                <li>User2</li>
            </ul>
        </table>
    </div>

    
</section>
{% endblock %}