{% extends 'base.html'%}

{% load static %}

{% block css %}{% endblock %}
{% block title %}<title>Posts</title>{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<section>
    <h2 class="title">Vos posts</h2>
    {% for post in reviews_and_tickets %}
        {% if post.content_type == 'TICKET' %}
            {% include 'snippets/post-ticket-snippets.html' %}
        {% endif %}
        {% if post.content_type == 'REVIEW' %}
            {% include 'snippets/post-review-snippets.html' %}
        {% endif %}
    {% endfor %}
</section>
{% endblock %}