{% extends 'base.html'%}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/review.css' %}">{% endblock %}
{% block title %}<title>Créer une critique</title>{% endblock %}

{% block content %}

<section>
    <div>
            <article id="review">
                <h2>Créer une critique</h2>
                <form method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {% include 'snippets/create-review-snippets.html' %}
                    
                </form>
                
            </article>  
    </div>
</section>
{% endblock %}