{% extends 'base.html'%}

{% block title %}<title>Créer une critique</title>{% endblock %}

{% block content %}
<section>
    <div>
            <article id="review">
                <form method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <table>
                        {{ ticket_form.as_table }}
                        {{ review_form.as_table }}
                    </table>
                    <input type="submit" value="Envoyer">
                </form>
                
            </article>  
    </div>
</section>
{% endblock %}