{% extends 'base.html'%}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/ticket-review.css' %}">{% endblock %}
{% block title %}<title>Critique ticket</title>{% endblock %}


{% block content %}
<section>
    <div>
        <div>
            <!-- Récupérer le ticket -->
        </div>
        <div>
            <!-- Critique du ticket -->
            <h2>Critique</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    {% include 'snippets/ticket-review-snippet.html' %}
            </form>
        </div>
    </div>
</section>
{% endblock %}


