{% extends 'base.html'%}

{% block title %}<title>Critique ticket</title>{% endblock %}


{% block content %}
<section>
    <div>
        <div>
            <!-- Récupérer le ticket -->
        </div>
        <div>
            <!-- Critique du ticket -->
            <h2>Critique</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    {% include 'snippets/ticket-review-snippet.html' %}
                <input type="submit" value="Envoyer">

            </form>
        </div>
    </div>
</section>
{% endblock %}


