{% extends 'base.html'%}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/ticket-review.css' %}">{% endblock %}
{% block title %}<title>Critique ticket</title>{% endblock %}


{% block content %}
<section>
    <div>
        <div>
            <h2>Critique</h2>
            <div class="ticket">
                <h3>Titre du ticket</h3>
                    <p>{{ ticket.title }}</p>
                <h3>Description</h3>
                    <p>{{ ticket.description }}</p>
                <h3>Image</h3>
                    <img src="{{ ticket.image.url }}" alt="" width=100px>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    {% include 'snippets/ticket-review-snippet.html' %}
            </form>
        </div>
    </div>
</section>
{% endblock %}


