<div class="published-review">
   <div class="user-review">
      <p>{{ post.user }} a publié une critique</p>
      <p class="time-created">{{ post.time_created }}</p>
   </div>
   <p>{{ post.headline }}</p>
   <div class="rating">
      <img class="rating-star" src="{{ post.star_display }}" alt="star-rating"> 
   </div>
   <p>{{ post.body }}</p>
      <div class="responded-ticket">
         <p>Ticket de {{ post.ticket.user }}</p>
         <p>{{ post.ticket.title }}</p>
         <img class="ticket-image" src="{{ post.ticket.image.url }}" alt="{{ post.title }}">
      </div>
   <div class="btn">
      <button class="edit-btn"><a href="{% url 'review-edit' post.id %}"  name="review-edit">Modifier</a></button>
      <button class="remove-btn"><a href="{% url 'review-delete' post.id %}"  name="review-delete">Supprimer</a></button>
   </div>   
 </div>