{% load static %}
<link rel="stylesheet" href="{% static 'css/feed.css' %}">
<div class="published-review">
   <div class="user-review">
      <p>{{ post.user }} a publié une critique</p>
      <p class="time-created">{{ post.time_created }}</p>
   </div>
   <p>{{ post.headline }}</p>
   <p>{{ post.star_rating }}</p>
      <div class="responded-ticket">
         <p>Ticket de {{ post.ticket.user }}</p>
         <p>{{ post.ticket.title }}</p>
         <img class="ticket-image" src="{{ post.ticket.image.url }}" alt="{{ post.title }}">
      </div>
</div>