<p>{{ post.user }} a demandé une critique</p>
                    <p>{{ post.title }}</p>
                    <p>{{ post.time_created }}</p>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" width=100>
                    {% endif %}
                {% if post.is_reviewed == False %}
                <button type="submit" name="review-ticket">Créer une critique</button>
                {% endif %}
                <p>------------------------------------</p>