
<div class="asked-review">
    <div class="user-review">
        <p>{{ post.user }} a demandé une critique</p>
        <p class="time-created">{{ post.time_created }}</p>
    </div>
    <p>{{ post.title }}</p>
    <div class="image-btn">
        {% if post.image %}
            <img class="ticket-image" src="{{ post.image.url }}" alt="{{ post.title }}">
        {% endif %}
    {% if post.is_reviewed == False %}
            <button class="ticket-btn-1" type="submit" name="ticket-review"><a href="{% url 'ticket-review' post.id %}">Créer une critique</a></button>
    {% endif %}
    </div>      
</div>